@model NewsCMS.Models.News

@{
    ViewBag.Title = "Edit";
}
<style>
    .thumb {
            height: 300px;
            border: 1px solid #000;
            margin: 10px 10px 0 0;
            width: 300px;
          }
</style>
<h2>Edit</h2>

<form method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="width: 100%; background: none; border: none;">     
 
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>News</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content, new { style = "width: 100%; height: 300px;" })
            @Html.ValidationMessageFor(model => model.Content)
        </div>

            <input type="submit" value="Save" />
        
    </fieldset>
</form>

<div>
    
    <a style="cursor:pointer;"onclick="history.go(-1);" >Go Back</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    
</script>
